body{
    background-position: center;
    background-size: cover;
}
.heading{
    width: 100%;
    font-size: larger;
    margin-top: 0px;
}
.heading:hover{
    font-size: large;
}
.link{
    background-color: black;
    border-radius: 10px;
    width: 80px;
    float: right;
}
canvas{
    border-radius: 10px;
    box-shadow: 7px 7px 7px grey;
}

@import url(https://fonts.googleapis.com/css?family=Pacifico);
 body { background: radial-gradient( circle,
     rgb(255, 64, 0) 0%,
     rgb(17, 0, 255) 100% );
     font-family: Pacifico;
      text-align: center;
       padding: 100px; 
    }