.header{
    color: black;
    font-size: 25px;
    box-shadow: 5px 5px 5px rgb(248, 106, 106);
}
.header:hover{
    width: 220px;
}
body{
    background-size: cover;
    background-position: center;
}

.link {
    font-size: 20px;
    background: white;
    border-radius: 10px;
    width: 300px;
    margin-top: 15px;
}

.link:hover {
    font-size: 25px;
    text-decoration: underline;
}

@import url(https://fonts.googleapis.com/css?family=Pacifico);
 body { background: radial-gradient( circle,
     rgb(255, 64, 0) 0%,
     rgb(17, 0, 255) 100% );
     font-family: Pacifico;
      text-align: center;
       padding: 100px; 
    }